<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Overlay</title>
  <link rel="stylesheet" href="/static/overlay.css">
  <style>
    html,body{margin:0;height:100%;background:transparent}
  </style>
</head>
<body>
  <div id="overlay-root" class="overlay-root"></div>

  <script>
    // передаём cfg из сервера (необязательно, но удобно)
    window.__CFG__ = {{ cfg | tojson | safe }};
  </script>
  <script src="/static/overlay.js" defer></script>
</body>
</html>
